/* html selectors */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.bold {
  font-weight: bold;
}

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.colored-section {
  background-color: #14279B;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.section-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  margin-top: 0;
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Title*/
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-img {
  min-width: 350px;
  width: 30%;
  padding: 5%;
  position: absolute;
  transform: rotate(25deg);
}

@media (max-width: 975px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/* Features */
#features {
  position: relative;
}

.features-box {
  padding: 4.5%;
}

.icon {
  color: #3D56B2;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #14279B;
}

/* Testimonials */
#testimonials {
  background-color: #3D56B2;
}

#testimonial-carousel {
  background-color: #3D56B2;
}

.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Press */
#press {
  background-color: #E6E6E6;
  padding: 3rem;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 3rem;
}

.pricing-btn {
  background-color: #14279B;
  border: 0;
  width: 100%;
}

.pricing-btn:hover {
  background-color: #14279B;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Footer */


.footer-text {
  color: #8f8f8f;
}

.social-icon {
  color: #8f8f8f;
  padding: 15px;
  font-size: 2rem;
  display: inline-block;
}
